

/*NOTE: DO NOT TOUCH ANYTHING BELOW HERE;*/
* {
  box-sizing: border-box;

}
body > * {
  border: 1px solid red;
}

body {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  font-family: "Gill Sans", sans-serif;
  font-size: 16px;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}

.hangman-image {
  background-image: url("../images/HangmanSprite.png");
  height: 410px;
  width: 170px;
  background-position: 10px -100px;
}

.hang-1 {
  background-position: -170px -100px;
}

.hang-2 {
  background-position: -340px -100px;
}

.hang-3 {
  background-position: -510px -100px;
}

.hang-4 {
  background-position: -680px -100px;
}

.hang-5 {
  background-position: -850px -100px;
}

.hang-6 {
  background-position: -1020px -100px;
}


#letters ul {
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  max-width: 800px;
}

#letters li {
  margin: 5px 10px;
}

/*NOTE: DO NOT TOUCH ANYTHING ABOVE HERE;*/
